<html>
    <head>
        <link rel="stylesheet" href="bootstrap.css">
        <script src="angular.js"></script>
        <script src="app.js"></script>
        <style>
        .done{
            text-decoration: line-through;
        }
        </style>

    </head>
    <body ng-app="todo">
      
      <div ng-controller="todoCtrl as todo">
       
        <div class="row">
            <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="todo.task" ng-keypress="$event.keyCode==13 && todo.add(todo.task)">
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary btn-block" ng-click="todo.add(todo.task)">Add Task</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                 <p>  Task = {{todo.completed}}/{{todo.tasks.length}}</p>
                <ul  class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-success':task.status,'list-group-item-danger':!task.status}" ng-repeat="task in todo.tasks">
                     <span ng-class="{'done':task.status}">{{task.name}} </span> <button class="btn btn-danger" ng-click="todo.delete($index)">Delete</button>
                 <button class="btn" ng-class="{'btn-success':!task.status,'btn-warning':task.status}" ng-click="todo.changeStatus($index)">{{task.status?'Undo':'Done'}}</button>
                 <button class="btn btn-info" ng-click="todo.edit($index)">Edit</button>

                 </li>
                </ul>
            </div>
        </div>
 



     </div>


   
 
    </body>
</html>