/* Empty. Add your own CSS if you like */
.div-style{
    background: whitesmoke; width: 100%; text-align: center; padding: 1px!important;
}
.padding-left-5{
    padding-left: 5px!important;
}
/* Empty. Add your own CSS if you like */
.button-style{
    /*<button class="button button-small button-carpool margin-5" ng-click="searchCar.agencyProfile()">Details</a>*/
    color: red;
    background: whitesmoke;
    width: 40%;
    margin-left: 30%;
}
/* Empty. Add your own CSS if you like */
.image-border
{
    /*border:1px solid #888 !important;*/
    box-shadow: 2px 2px 5px #888;
}
.image-bg{
    background-image: url('../img/loading-bg.jpg');
    background-size: cover;
    background-position: center center;
}

.sentenceBackground{
    /*z-index: 30;*/
    background-color: lightgray !important;
    box-shadow: 2px 2px 5px #888;
    margin-top: 5px;
}

.gray-border
{
    border:1px solid darkgrey;
}

.meaningBackground{
    /*z-index: 30;*/
    background-color: #ffd750 !important;
    box-shadow: 2px 2px 5px #888;
    margin-top: 5px;
}
.meaning-padding{
    padding: 3px 7px;
}
.footer-button{
    margin: 0 !important;
    box-shadow: 1px 1px 3px #888;
    margin-bottom: 7px !important;
}
.button-footer{
    padding: 0 12px;
    height: 48px !important;
}
.textarea{
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.feedbackpopup .popup{
    background-color: white;
    border-radius: 10px;
}
.br-10{
    border-radius: 10px !important;
}
.word-list-number{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    color: gray;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    background-color: white;
    padding: 0;
    border: none;
}
.word-list-number.activated, .word-list-number.selected{
    background-image: -webkit-linear-gradient(top, #f8f8f8, #fff);
    background-image: linear-gradient(top, #f8f8f8, #fff);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
    color: red;
}
.figures{
    width: 80px;
    height: 100px;
}
.pressed{
    /*background: #ccc;*/
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-width: 2px;
    border-radius:10px;

}
.menu-bg{
    background-color: #eee;
}
.menu-items{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: gray;
    /*box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);*/
    background-color: white;
    padding: 0;
    border:1px solid #444;
}
.iphone4.menu-items{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: gray;
    /*box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);*/
    background-color: white;
    padding: 0;
    border:1px solid #444;
}
.menu-items.activated, .menu-items.selected{
    /*background-image: -webkit-linear-gradient(top, #f8f8f8, #fff);*/
    /*background-image: linear-gradient(top, #f8f8f8, #fff);*/
    /*box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);*/
    background-color: #ef473a;
    color: white;
    border-color: #ef473a;
}
.menu-items.activated i{
    color: white;
}
.menu-items2{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    border-radius: 20%;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    color: gray;
    /*box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);*/
    background-color: white;
    padding: 0;
    border:1px solid #444;
}
.iphone4.menu-items2{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 20%;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    color: gray;
    /*box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);*/
    background-color: white;
    padding: 0;
    border:1px solid #444;
}
.menu-items2.activated, .menu-items2.selected{
    /*background-image: -webkit-linear-gradient(top, #f8f8f8, #fff);*/
    /*background-image: linear-gradient(top, #f8f8f8, #fff);*/
    /*box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);*/
    background-color: #ef473a;
    color: white;
    border-color: #ef473a;
}
.volume-button{
    line-height: 30px !important;
    min-height: 30px !important;
}
.volume-button:before{
    line-height: 30px !important;
}
.jumpPopup .popup-body{
    padding-top: 0 !important;
}
.z-10{
    z-index: 10;
}
.searchbox{
    padding-left: 20px !important;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
}
.resultList{
    position: absolute;
    top: 64px;
    z-index: 10;
    height: 50px;
    left:40px;
    width: 75%;
}
.search-clear{
    position: absolute;
    right: 60px;
    top:32px;
}
.transparent-bg{
    background-color: transparent;
    position: relative;
    width: 100%;
    top:64px;
    z-index: 10;
}
.has-custom-footer{
    bottom:48px
}
.iphone4-imageDiv{
    min-height: 200px !important;
    height: 200px !important;
    min-width: 200px!important;
    margin-top: 3.2px;
    margin-left: auto !important;
    margin-right: auto!important;
    width: 200px!important;
    text-align: center;
}
.share-button{
    background-color: rgba(0,0,0,0.3) !important;
    color: white !important;
    width: 40px;
    min-height: 40px!important;
    height: 40px !important;
    line-height: 40px !important;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 8px;
}
.share-button:before{
    line-height: 40px !important;
    font-size: 24px !important;
}
.share-button-2{
    background-color: white !important;
    color: #444 !important;
    width: 40px;
    min-height: 40px!important;
    height: 40px !important;
    line-height: 40px !important;
    border-radius: 50%;
    top:330px;
    left:140px;
}
.share-button-2:before{
    line-height: 40px !important;
    font-size: 24px !important;
}
.translucent-bg{
    background-color: rgba(0,0,0,0.5);
}
@-webkit-keyframes slideOut_left {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        visibility: visible;

    }
}

@keyframes slideOut_left {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        visibility: visible;

    }
}

.slideOut_left {
    -webkit-animation-name: slideOut_left;
    animation-name: slideOut_left;
    -webkit-animation-duration: 0.5s !important; /* Chrome, Safari, Opera */
    animation-duration: 0.5s !important;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.z-11{
    z-index: 11;
}
.absolute{
    position: absolute;
}
.mybackdrop{
    position: fixed;
    z-index: 20;
    width:100%;
    top:0 !important;
}



/*login css*/
div.line-divider-container .row.line-divider{
    margin-top: 10% !important;
    margin-bottom: 5%;
}
.line-divider .line {
    display: block;
    position: relative;
    top:10px;
    width:43%;
    background-color: cadetblue;
    height: 1px;
    float: left;
}
.line-divider .text {
    display: block;
    float: left;
    width: 14%;
    text-align: center;
    color: cadetblue;
}
.valign-parent{
    display: table !important;
}
.valign-child{
    display: table-cell !important ;
    vertical-align: middle !important;
}
div.scroll{
    height: 100%
}
.full-height{
    height:100% !important;
}
.full-width{
    width:100% !important;
}
.signIn-btn{

    margin: auto;
    min-width: 200px;
    min-height: 50px;
    width: 80%;
    height: 4.25rem;
    border: none;
    background-size: 100% 100% !important;
}
.google-login-btn{
    background: url(../img/google-login.png);
}
.facebook-login-btn{
    background: url(../img/facebook-login.png);
}
.login-background{
    background: aliceblue;
}
.app-icon{
    width: 120px;
    height: 120px;
    margin: auto;
}
.app-icon img{
    height: 100%;
    width: 100%;
}
.login-container {
    margin-top: 20%;
}

.platform-android .search-clear{
    top:12px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    /*display: inline-block;*/
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease-out;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-theme .waves-ripple {
    background-color: rgba(1,114,255,0.5);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

.waves-effect img {
    position: relative;
    z-index: -1;
}


.button.button-facebook {
    border-color: transparent;
    background-color: #3b5998;
    color: #fff;
}
.button.button-facebook:hover {
    color: #fff;
    text-decoration: none; }
.button.button-facebook.active, .button.button-facebook.activated {
    border-color: #3b5998;
    background-color: #3b5998; }
.button.button-facebook.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #3b5998; }
.button.button-facebook.button-icon {
    border-color: transparent;
    background: none; }
.button.button-facebook.button-outline {
    border-color: #3b5998;
    background: transparent;
    color: #3b5998; }
.button.button-facebook.button-outline.active, .button.button-facebook.button-outline.activated {
    background-color: #3b5998;
    box-shadow: none;
    color: #fff; }
.login-page{
    background-image: url(../img/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: 30% center;
    background-size: cover
}
.text-shadow{
    text-shadow: 1px 1px #444;
}
.scale-down{
    transform: scale(0.9);
}
.slate-gray-bg{
    background: darkslategray;

}